:root {
  --background-col: #28007e;
  --background: #bfbfbf;
  --col-black: #111111;
  --frame-wht: #bbbbbb;
  --frame-gry: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

/* The outer most layer of the messenger */

.container {
  /* width: 100vw; */
  height: 100vh;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: .3vmin;
  padding: .2vmin;
}

.greybgc {
  color: black;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  padding: 1vmin;
}

/* Common sharing elements, non structure related */

/* Frame-related design */

.bt-rt-light {
  border-top: 1px solid var(--frame-gry);
  border-left: 1px solid var(--frame-gry);
  border-bottom: 1px solid var(--frame-wht);
  border-right: 1px solid var(--frame-wht);
}

.tp-lf-light {
  border-top: 1px solid var(--frame-wht);
  border-left: 1px solid var(--frame-wht);
  border-bottom: 1px solid var(--frame-gry);
  border-right: 1px solid var(--frame-gry);
}

.invt-btn {}

/* Text related */

.major-fct::first-letter {
  text-decoration: underline;
}

/* Header status related */

.statusbar {
  padding: 1vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: var(--background-col);
}

/* Button styling related */

.func-but {
  padding: 1vmin;
}

/* Sizing */

.hstretch {
  width: 100%;
}

/* Non-common styling */

/* Structure related styling */

#namelist {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 5% 1fr 7% 7%;
}

#namelist-status {
  grid-row: 1/2;
  grid-column: 1/5;
}

#namelist-list {
  grid-row: 2/3;
  grid-column: 1/5;
}

#namelist-sysnotice {
  grid-column: 1/5;
  grid-row: 3/4;
}

#icq {
  grid-column: 1/2;
  grid-row: 4/5;
}

#online-status {
  grid-column: 2/5;
  grid-row: 4/5;
}

.bottomenu {
  display: flex;
  justify-content: space-between;
}