<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <!-- <ul id="messages"></ul> -->
    <!-- <form action="">
        <input id="m" autocomplete="off" />
        <button id = 'send'>Send</button>
    </form> -->

    <div class="container">
        <section class='greybgc tp-lf-light' id="chatbox">
            <div class="statusbar" id='chat-status'>
                <div class='status'>
                    <img src="./icons/available.png" alt="online">
                    <span>Dr. Mac (Offline) - Message Session</span>
                </div>
                <div class='sizingbox'>
                    <button>
                        <i class="far fa-window-minimize"></i>
                    </button>
                    <button>
                        <i class="far fa-window-maximize"></i>
                    </button>
                    <button>
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="invt-btn" id="chat-history">
                <ul id="messages"></ul>
            </div>
            <div id="chat-menu">

            </div>
            <input class="chat-area invt-btn" id="m" autocomplete='off'>

            </input>
            <div id="bottomenu">
                <div class="functions flex h-cent v-cent">
                    <button class='major-fct func-but'>Cancle</button>
                    <button class='func-but'>User Menu</button>
                    <button class='func-but'>User Details</button>
                </div>
                <div class="send-status flex h-cent v-cent">
                    <button class='major-fct func-but' id='send'>Send</button>
                    <img src="./icons/wutface.gif" alt="" class="bt-rt-light">
                </div>


            </div>


        </section>
        <section class='greybgc tp-lf-light' id="namelist">
            <div class="statusbar" id='namelist-status'>
                <div class='status'>
                    <img src="./icons/available.png" alt="online">
                    <span class="">142169667</span>
                </div>
                <div class='sizingbox'>
                    <button>
                        <i class="far fa-window-minimize"></i>
                    </button>
                    <button>
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class='hstretch bt-rt-light' id='namelist-list'>
                <ul>
                    <li class="list-status">
                        <hr>
                        <span class='list-status-name'>Online</span>
                        <hr>
                    </li>
                    <li class='namelisting'>
                        <img src="./icons/available.png" alt="online">1637225584
                    </li>
                    <li class='namelisting'>
                        <img src="./icons/available.png" alt="online">1637225584
                    </li>
                    <li class="list-status">
                        <hr>
                        <span class='list-status-name'>Offline</span>
                        <hr>
                    </li>
                    <li class='namelisting'>
                        <img src="./icons/available.png" alt="online">1637225584
                    </li>
                    <li class='namelisting'>
                        <img src="./icons/available.png" alt="online">1637225584
                    </li>
                    <li class='namelisting'>
                        <img src="./icons/available.png" alt="online">1637225584
                    </li>
                    <li class='namelisting'>
                        <img src="./icons/available.png" alt="online">1637225584
                    </li>

                </ul>
            </div>
            <div class="hstretch bt-rt-light lft-button cont-lft" id='namelist-sysnotice'>System Notice</div>
            <div class="hstretch  tp-lf-light lft-button cont-cnt" id='icq'>ICQ</div>
            <div class='hstretch tp-lf-light lft-button' id='online-status'>
                <img src="./icons/available.png" alt="online">Online</div>

        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script src="./script/script.js"></script>
</body>

</html>