<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <!-- <ul id="messages"></ul> -->
    <!-- <form action="">
        <input id="m" autocomplete="off" />
        <button id = 'send'>Send</button>
    </form> -->

    <div class="container">
        <section class='greybgc tp-lf-light' id="chatbox">
            <div class="statusbar">


                <div class='status'>
                    <img src="./icons/available.png" alt="online">
                    <span>Dr. Mac (Offline) - Message Session</span>
                </div>
                <div class='sizingbox'>
                    <button>
                        <i class="far fa-window-minimize"></i>
                    </button>
                    <button>
                        <i class="far fa-window-maximize"></i>
                    </button>
                    <button>
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="menubox">
                <ul id="messages"></ul>
                <input id="m" autocomplete="off" />
                <div class="bottomenu">
                    <div class="functions">
                        <button class='major-fct func-but'>Cancle</button>
                        <button class='func-but'>User Menu</button>
                        <button class='func-but'>User Details</button>
                    </div>
                    <div class="send-status">
                        <button class='major-fct func-but' id='send'>Send</button>
                        <img src="./icons/wutface.gif" alt="" class="bt-rt-light">
                    </div>


                </div>
            </div>


        </section>
        <section class='greybgc tp-lf-light' id="namelist">
            <div class="statusbar" id='namelist-status'>
                <div class='status'>
                    <img src="./icons/available.png" alt="online">
                    <span class="">142169667</span>
                </div>
                <div class='sizingbox'>
                    <button>
                        <i class="far fa-window-minimize"></i>
                    </button>
                    <button>
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class='' id='namelist-list'></div>
            <div class="hstretch" id='namelist-sysnotice'></div>
            <div class="hstretch" id='icq'></div>
            <div class='hstretch' id='online-status'>
                <img src="./icons/available.png" alt="online">Online</div>

        </section>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script src="./script/script.js"></script>
</body>

</html>