<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to ICQ</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Please login before you go-go</h1>
    <form action="/login" method="post">
        <input type="text" name="username" id="username-input">
        <input type="password" name="password" id="password-input">
        <button type="submit">
            <img src="./icons/icq.jpg" alt="ICQ logo">
        </button>
    </form>

</body>

</html>